@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .my-nav {
    @apply navbar fixed top-0 bg-base-100 p-5 z-10;
  }

  .titles {
    @apply drop-shadow-sm shadow-gray-900 font-titles-fonts;
  }

  .paragraphs {
    @apply leading-8 max-w-7xl my-3;
  }

  .sections {
    @apply flex flex-col justify-between h-fit w-9/12 my-24 ml-5;
  }

  .buttons {
    @apply text-lg text-yellow-400 tracking-widest border-2 border-yellow-400 border-solid rounded p-3 max-w-fit text-center hover:mr-1 hover:bg-gray-900;
    /* 
    transition-property: margin-left, background-color, box-shadow;
    transition-duration: 500ms; 
    */
  }

}

.buttons:hover,
.buttons:active,
.buttons:focus {
  background-color: #111;
}

/* Bootstrap progress bars - start */

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #545e64;
  border-radius: 0.25rem;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #EBBC4E;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 2px 1px rgba( 17, 17, 17, 0.8 );
  transition: width 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  .progress-bar {
    transition: none;
  }
}

.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

/* Bootstrap progress bars - end */

div.bars > label, .progress {
  margin-bottom: 20px;
}

/* Tablet styles 
@media only screen and (min-width: 401px) and (max-width: 960px) {

} */


/* Desktop styles */
@media only screen and (min-width: 961px) {

  nav {
    width: 90vw;
    margin: 40px auto;
  }
  
  section {
    margin: 100px auto;
    width: 60%;
  }

  section.banner {
    width: 90vw;
    height: 80vh;
    border: solid 1px #EBBC4E;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 10px;
  }

  section.banner * {
    text-align: center;
    
  }

  section.banner h1 {
    font-size: 80px;
  }

  p#subtitle /* da capire se è meglio metterlo come media query o no */{
    margin: 10px 0 15px 0;
    font-size: 22px;
    line-height: 1.8em;
  }

  section.about {
    height: 400px;
  }

  .about-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  p#self-description {
    width: 60%;
  }

  div.updates-row {
    justify-content: flex-start;
  }

  section.final-cta {
    width: 60%;
  }

  .footer-row {
    margin: auto;
    width: 30%;
    justify-content: space-between;
  }
  
}