* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: .1em;
  color: #EBBC4E; /* Mustard */
  background-color: #36454f; /* Grey */
  background-image:
    linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)),
    url("../img/black-shapes-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

h1, h2, h3 {
  font-size: 60px;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px #111;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

p {
  line-height: 1.4em;
  max-width: 80%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 30px;
}

a {
  font-size: 18px;
  color: #EBBC4E;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.logo {
  max-height: 80px;
}

.buttons {
  font-size: 18px;
  color: #EBBC4E;
  padding: 10px 15px;
  background-color: transparent;
  border: 3px solid #EBBC4E;
  border-radius: 5px;
  box-shadow: 2px 2px #111;
  transition-property: margin-left, background-color, box-shadow;
  transition-duration: 500ms;
}

.buttons:hover,
.buttons:active,
.buttons:focus {
  margin-left: -5px;
  background-color: #111;
  box-shadow: 4px 4px #111;
}

/* Curriculum button style */
i.bx-download {
  margin-left: 10px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 200px auto;
  height: 600px;
  width: 90%;
}

.contact-button {
  padding: 15px;
  max-width: 50%;
}

section.banner {
  margin-top: 100px;
  height: 425px;
}

section.skills p {
  margin-top: 20px;
}

div.bars {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.bars label {
  font-family: "Merriweather Sans", Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
}

/* Bootstrap progress bars - start */

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #545e64;
  border-radius: 0.25rem;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #EBBC4E;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 2px 1px rgba( 17, 17, 17, 0.8 );
  transition: width 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  .progress-bar {
    transition: none;
  }
}

.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

/* Bootstrap progress bars - end */

div.bars > label, .progress {
  margin-bottom: 20px;
}

section.about {
  margin-bottom: 50px;
}

.my-photo {
  height: 300px;
  width: 300px;
  margin: 20px 0;
  background-image: url("../img/propic.jpg");
  background-size: 300px;
  background-repeat: no-repeat;
  border-radius: 0.30rem;
  box-shadow: 1px 2px 4px 3px rgba(11, 11, 11, 0.5);
}

section.final-cta {
  height: auto;
  margin-bottom: 100px;
}

section.final-cta * {
  text-align: center;
  margin-top: 20px;
}

footer {
  /* display: flex;
  justify-content: space-evenly; */
  padding: 20px;
  background-color: #111;
}

div.footer-row {
  display: flex;
  justify-content: space-evenly;
}

div.footer-row i {
  font-size: 40px;
}

i:hover {
  cursor: pointer;
}

div.footer-row p {
  text-align: center;
  font-size: 0.8em;
}

/* Tablet styles 
@media only screen and (min-width: 401px) and (max-width: 960px) {

} */


/* Desktop styles */
@media only screen and (min-width: 961px) {

  nav {
    width: 90vw;
    margin: 40px auto;
  }
  
  section {
    margin: 100px auto;
    width: 80%;
  }

  section.banner {
    width: 90vw;
    height: 80vh;
    border: solid 1px #EBBC4E;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  section.banner * {
    text-align: center;
    margin: 10px 0;
  }

  section.banner h1 {
    font-size: 80px;
  }

  section.about {
    height: 400px;
  }

  .about-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .about-row p {
    width: 70%;
  }

  section.final-cta {
    width: 60%;
  }

  .footer-row {
    margin: auto;
    width: 30%;
    justify-content: space-between;
  }
  
}